
#navbar{
  background-color: #efdc0e;
}

#home{
  padding: 200px;
  background-image:url(b_img1.jpg);
}

.image{
  border-radius:50%;
  margin-left: auto;
  margin-right: auto;
  height:280px;
  width:280px;
}

.name{
  float:right;
  color:red;
  position: relative;
  margin-left:200px;
  margin-top: 100px;
  font-size:400%;
  font-weight: bold;
  font-family:sans-serif;
  animation:mymove 6s infinite;
}

@keyframes mymove {
  0%   {color:red;left:0px;}
  25%  {left:0px;}
  75%  {left:200px;font-size:200%; }
  100% {color:#edc70b;left:200px;}
}

#about1{
  color:#1551ea;
  font-weight:bold;
}

#about2{
  margin-top:100px;
  color:green;
  font-weight:bold;
}

#about{
  padding:100px;
  background-color: #b5ffbc;
}

#skills{
  padding:100px;
  background-color: #ffffdd;
}

#skill-name
{
  color:purple;
  font-weight: bold;
}

#portfolio{
  padding:100px;
  background-color:#e0c816;
}

#education{
  padding:100px;
  background-color:#94ff00;
}

#contact{
  padding:100px;
  background-color:#2ce0dd;
  height: 650px;
  text-align: center;
}

#contact-name{
  color:red;
  font-size:200%;
  font-weight: bold;
}

#copyright{
  margin-top:250px;
  color:red;
}
